# web scrape forsøg på dba.dk

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
#http://fas.mide.dk/2011/11/hemmelig-dba-api.html?showComment=1566286904003#c7494136555575979797
#https://github.com/simonpacis

baseAPI = "https://api.dba.dk"
url = baseAPI + "/api/v2/taxonomy/search?q=" + "" + "&format=json"
#keys: {"blog: hemmelig api":"64424762-f650-450f-909d-08d6d22703fd","simonpacis": "087157d7-84d5-4f2b-1d02-08d282f6c857","simonspacis_v2":"93d8cbae-ae89-47bb-a423-08d646555519"}
    
response = requests.get(url,headers={"DbaApiKey":"93d8cbae-ae89-47bb-a423-08d646555519","User-Agent":"dba/5.9 iPhone 12.1"},)
print(response.request.headers)
print(response.status_code)
print(response.ok)

{'User-Agent': 'dba/5.9 iPhone 12.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'DbaApiKey': '93d8cbae-ae89-47bb-a423-08d646555519'}
200
True

In [3]:
response.json

In [4]:
#response.json().keys() #returns error
response.json()[0]

{'allowInSyi': True,
 'category': {'hits': 0,
  'id': 18,
  'localized-name': 'Glas, porcelæn og bestik',
  'priority': 0,
  'section': {'hits': 0,
   'id': 26,
   'localized-name': 'Til boligen',
   'priority': 0,
   'sectiongroup': {'hits': 0,
    'id': 2,
    'localized-name': 'Bolig & Have',
    'priority': 0}}},
 'default-ad-type': 0,
 'hits': 121745,
 'id': 8700,
 'localized-name': 'Glas, porcelæn og bestik',
 'priority': 0}

<br><br>

In [5]:
dba_id = pd.DataFrame(response.json())
dba_id.head(20)

,allowInSyi,category,default-ad-type,hits,id,localized-name,priority
0,True,"{'section': {'sectiongroup': {'id': 2, 'locali...",0,121745,8700,"Glas, porcelæn og bestik",0
1,True,"{'section': {'sectiongroup': {'id': 9, 'locali...",0,111477,36020,Faglitteratur,0
2,True,"{'section': {'sectiongroup': {'id': 2, 'locali...",0,100785,6190,Diverse indretning,0
3,True,"{'section': {'sectiongroup': {'id': 7, 'locali...",0,71531,36400,Diverse samlinger og objekter,0
4,True,"{'section': {'sectiongroup': {'id': 9, 'locali...",0,65103,36030,Skønlitteratur,0
5,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,51843,30610,"Bluser, toppe og trøjer",0
6,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,51340,30660,Sko og støvler,0
7,True,"{'section': {'sectiongroup': {'id': 5, 'locali...",0,44513,21500,DVD-film og Blu-ray,0
8,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,38147,30640,Kjoler,0
9,True,"{'section': {'sectiongroup': {'id': 5, 'locali...",0,37293,21620,Lp,0
10,True,"{'section': {'sectiongroup': {'id': 9, 'locali...",0,36605,36060,Andre bøger og blade,0
11,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,36218,30800,Smykker,0
12,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,35265,30190,Andet legetøj,0
13,True,"{'section': {'sectiongroup': {'id': 2, 'locali...",0,32643,200,Villaer,0
14,True,"{'section': {'sectiongroup': {'id': 9, 'locali...",0,29475,36050,Børnebøger,0
15,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,27987,30650,Jakker og frakker,0
16,True,"{'section': {'sectiongroup': {'id': 2, 'locali...",0,27582,8600,Køkkenudstyr og -maskiner,0
17,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,27304,30040,Andet udstyr til børn og babyer,0
18,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,26551,30440,Børnesko og -støvler,0
19,True,"{'section': {'sectiongroup': {'id': 8, 'locali...",0,25624,30670,Andet dametøj og tilbehør,0

In [6]:
dba_test = dba_id.copy()
len(dba_test)
dba_test_2 = dba_test.drop(['allowInSyi', 'default-ad-type', 'priority'], axis=1)


#dba_test_2['category']= dba_test_2["category"].str.split(":", n = 10, expand = True)

print(dba_test_2.to_string()['category'])

TypeError: string indices must be integers

<br><br><br>
## Scrape en kategori
404: page not found
403: page forbidden 
400: not established

In [ ]:
baseAPI = "https://api.dba.dk"
CategoryId = str(36020)
url = baseAPI + "/api/v2/search/latest/category/" + CategoryId

response = requests.get(url,headers={"DbaApiKey":"93d8cbae-ae89-47bb-a423-08d646555519","User-Agent":"dba/5.9 iPhone 12.1"})
response.request.headers
response.status_code

<br> <br> <br>

In [ ]:
info = requests.get("https://api.dba.dk/api/v2/listing/%s/secondaryinfo" %
                          listing_id, headers=headers, verify=verify).json()

In [ ]:
import pandas as pd 
url = "https://www.dba.dk/cykler/cykler-og-cykelanhaengere/"
dfs = pd.read_html(url,attrs={'class':'search-result'})

In [ ]:
import requests
import lxml.html as lh
import pandas as pd

url = "https://www.dba.dk/cykler/cykler-og-cykelanhaengere/"

#Create a handle, page, to handle the contents of the website
page = requests.get(url,headers={"DbaApiKey":"93d8cbae-ae89-47bb-a423-08d646555519","User-Agent":"dba/5.9 iPhone 12.1"},)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//li')

In [ ]:
url = "https://www.dba.dk/soeg"
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import json

#data = requests.get(url)
data = requests.get(url,headers={"DbaApiKey":"93d8cbae-ae89-47bb-a423-08d646555519","User-Agent":"dba/5.9 iPhone 12.1"},)
all_links = re.findall(r'href=[\'"]?([^\'" >]+)', data.text)
#soup = BeautifulSoup(data.text)
len(all_links)

In [ ]:
links = []

for x in range(151):
    if "id-" in all_links[x]:
        links.append(all_links[x])
links

In [ ]:
url = "https://www.dba.dk/herrecykel-andet-maerke/id-1058447066"
data = requests.get(url,headers={"DbaApiKey":"93d8cbae-ae89-47bb-a423-08d646555519","User-Agent":"dba/5.9 iPhone 12.1"})
soup = BeautifulSoup(data.text)

In [ ]:
from bs4 import BeautifulSoup
url="https://www.dba.dk/drengecykel-classic-cykel/id-1057205328/"
response = requests.get(url,headers={"DbaApiKey":"93d8cbae-ae89-47bb-a423-08d646555519","User-Agent":"dba/5.9 iPhone 12.1"},)
soup = BeautifulSoup(data.text)
soup