# Exercise Set 7: Data structuring  3

*Morning, August 15, 2019*

In this Exercise Set we finalize our work with the weather data we started working on in Exercise Set 4. We will also study a dataset of traffic data from Copenhagen to iterate through the pandas workflow once more.

In [1]:
%matplotlib inline 

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# Increases the plot size a little
mpl.rcParams['figure.figsize'] = 11, 6

## Exercise Section 7.1: Weather data, part 3
We continue with the final part of three exercises on structuring weather data. In this exercise you must use the function for fetching and structuring weather data which you made in Exercise 6.1.5.

> **Ex. 7.1.1:** Plot the monthly max,min, mean, first and third quartiles for maximum temperature for our station with the ID _'ITE00100550'_ in 1864. 

> *Hint*: the method `describe` computes all these measures.

In [2]:
# [Answer to Ex. 7.1.1]
url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'
path = '/Users/michaelemcken/Google Drive/Python/sds2019/material/session_4/my_weather.csv'
df = pd.read_csv(path, sep=',')

df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df['month'] = pd.DatetimeIndex(df['date']).month


df_ITE = df.loc[(df['station identifier'] == 'ITE00100550') & (df['observation type'] == 'TMAX')]

df_ITE.head(10)

,station identifier,date,observation type,observation value,TMAX_F,month
74,ITE00100550,1864-01-02,TMAX,8,46.4,1
151,ITE00100550,1864-01-03,TMAX,-28,-18.4,1
226,ITE00100550,1864-01-04,TMAX,0,32.0,1
304,ITE00100550,1864-01-05,TMAX,-19,-2.2,1
382,ITE00100550,1864-01-06,TMAX,-13,8.6,1
459,ITE00100550,1864-01-07,TMAX,-4,24.8,1
537,ITE00100550,1864-01-08,TMAX,13,55.4,1
617,ITE00100550,1864-01-09,TMAX,13,55.4,1
694,ITE00100550,1864-01-10,TMAX,6,42.8,1
769,ITE00100550,1864-01-11,TMAX,-15,5.0,1

In [3]:
def q1(x):
    return x.quantile(0.25)

def q2(x):
    return x.quantile(0.75)

split_vars = ['month'] 
apply_vars = ['observation value']
apply_fcts = ['max', 'min', 'mean', q1, q2]

stats = df_ITE\
    .groupby(split_vars)\
    [apply_vars]\
    .agg(apply_fcts)
print(stats)

      observation value
                    max  min        mean      q1      q2
month
1                    53  -63   -1.133333  -23.50   22.00
2                    84  -18   41.344828   15.00   68.00
3                   180   79  122.000000  100.50  141.50
4                   251   63  162.433333  144.25  184.00
5                   270  140  214.709677  195.00  238.00
6                   313  204  266.700000  251.00  285.00
7                   325  254  293.870968  284.50  309.00
8                   348  210  289.225806  264.50  316.00
9                   299  180  241.033333  215.00  268.00
10                  205  119  165.193548  150.00  183.50
11                  146   50   97.033333   76.75  113.75
12                   93   15   53.161290   36.00   70.00

In [4]:
#fig = sns.boxplot(x = stats.index, y = df['observation value'])

> **Ex. 7.1.2:** Get the processed data from years 1864-1867 as a list of DataFrames. Convert the list into a single DataFrame by concatenating vertically.

In [31]:
# [Answer to Ex. 7.1.2]
init_url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/'
file_type = '.csv.gz'
init_name = 'my_weather_'
save_file_type = '.csv'
i = 1864 

while i <= 1867:
    # Creating URL
    url = init_url + str(i) + file_type
    print(url)
    # Reading CSV file, to check if the load was succesful
    df_i = pd.read_csv(url, sep=',')
    print(df_i.head(10))
    # Saving the CSV file to local computer
    file_name = init_name + str(i) + save_file_type
    df_i.to_csv(file_name, index=False)
    i += 1

https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz
   ITE00100550  18640101  TMAX   10 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0  ITE00100550  18640101  TMIN  -23        NaN        NaN  E         NaN
1  ITE00100550  18640101  PRCP   25        NaN        NaN  E         NaN
2  ASN00079028  18640101  PRCP    0        NaN        NaN  a         NaN
3  USC00064757  18640101  PRCP  119        NaN        NaN  F         NaN
4  SF000208660  18640101  PRCP    0        NaN        NaN  I         NaN
5  ASN00089000  18640101  PRCP    0        NaN        NaN  a         NaN
6  SWE00100003  18640101  PRCP    0        NaN        NaN  E         NaN
7  ASN00086071  18640101  TMAX  214        NaN        NaN  a         NaN
8  ASN00086071  18640101  TMIN  101        NaN        NaN  a         NaN
9  ASN00086071  18640101  PRCP    0        NaN        NaN  a         NaN
https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1865.csv.gz
   ITE00100550  18650101  TMAX   20 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0  ITE00100550  18650101  TMIN  -30        NaN        NaN  E         NaN
1  ITE00100550  18650101  PRCP    0        NaN        NaN  E         NaN
2  USC00064757  18650101  PRCP    0        NaN        NaN  F         NaN
3  SF000208660  18650101  PRCP    0        NaN        NaN  I         NaN
4  ASN00089000  18650101  PRCP    0        NaN        NaN  a         NaN
5  SWE00100003  18650101  PRCP    0        NaN        NaN  E         NaN
6  ASN00086071  18650101  TMAX  239        NaN        NaN  a         NaN
7  ASN00086071  18650101  TMIN  151        NaN        NaN  a         NaN
8  ASN00086071  18650101  PRCP    0        NaN        NaN  a         NaN
9  USP00CA0003  18650101  PRCP  132        NaN        NaN  F         NaN
https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1866.csv.gz
   ITE00100550  18660101  TMAX    5 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0  ITE00100550  18660101  TMIN  -43        NaN        NaN  E         NaN
1  ITE00100550  18660101  PRCP    0        NaN        NaN  E         NaN
2  USC00064757  18660101  PRCP    0        NaN        NaN  F         NaN
3  SF000208660  18660101  PRCP    0        NaN        NaN  I         NaN
4  ASN00089000  18660101  PRCP    0        NaN        NaN  a         NaN
5  CA006150689  18660101  TMAX   28        NaN        NaN  C         NaN
6  CA006150689  18660101  TMIN -117        NaN        NaN  C         NaN
7  CA006150689  18660101  PRCP    0        NaN        NaN  C         NaN
8  CA006150689  18660101  SNOW    0        NaN        NaN  C         NaN
9  SWE00100003  18660101  PRCP    0        NaN        NaN  E         NaN
https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1867.csv.gz
   ITE00100550  18670101  TMAX   60 Unnamed: 4 Unnamed: 5  E  Unnamed: 7
0  ITE00100550  18670101  TMIN   -7        NaN        NaN  E         NaN
1  ITE00100550  18670101  PRCP    0        NaN        NaN  E         NaN
2  USC00064757  18670101  PRCP    0        NaN        NaN  F         NaN
3  USC00064757  18670101  SNOW  127        NaN        NaN  F         NaN
4  ASN00017003  18670101  PRCP    0        NaN        NaN  a         NaN
5  USC00264939  18670101  PRCP    0        NaN        NaN  F         NaN
6  SF000208660  18670101  PRCP    0        NaN        NaN  I         NaN
7  ASN00089000  18670101  PRCP    0        NaN        NaN  a         NaN
8  CA006150689  18670101  TMAX  -17        NaN        NaN  C         NaN
9  CA006150689  18670101  TMIN  -78        NaN        NaN  C         NaN

In [50]:
path_1864 = '/Users/michaelemcken/Google Drive/Python/sds2019/material/session_7/my_weather_1864.csv'
path_1865 = '/Users/michaelemcken/Google Drive/Python/sds2019/material/session_7/my_weather_1865.csv'
path_1866 = '/Users/michaelemcken/Google Drive/Python/sds2019/material/session_7/my_weather_1866.csv'
path_1867 = '/Users/michaelemcken/Google Drive/Python/sds2019/material/session_7/my_weather_1867.csv'
df_1864 = pd.read_csv(path_1864, sep=',')
df_1865 = pd.read_csv(path_1865, sep=',')
df_1866 = pd.read_csv(path_1866, sep=',')
df_1867 = pd.read_csv(path_1867, sep=',')

df_columns = ['station identifier', 'date', 'observation type', 'observation value', 'NaN', 'NaN', 'NaN', 'NaN']
df_1864.columns = df_columns
df_1865.columns = df_columns
df_1866.columns = df_columns
df_1867.columns = df_columns

#df_1864 = df_1864.dropna
#df_1864

In [40]:
print(df_1864.tail())
print(df_1865.tail())
print(df_1866.tail())
print(df_1867.tail())

      station identifier      date observation type  observation value  NaN  \
27343        UK000056225  18641231             PRCP                  3  NaN
27344        ASN00026026  18641231             PRCP                  0  NaN
27345        ASN00089049  18641231             PRCP                  0  NaN
27346        SZ000006717  18641231             TMAX                -62  NaN
27347        SZ000006717  18641231             TMIN               -105  NaN

       NaN  NaN  NaN
27343  NaN    E  NaN
27344  NaN    a  NaN
27345  NaN    a  NaN
27346  NaN    G  NaN
27347  NaN    G  NaN
      station identifier      date observation type  observation value  NaN  \
28673        UK000056225  18651231             PRCP                 79  NaN
28674        ASN00026026  18651231             PRCP                  0  NaN
28675        ASN00089049  18651231             PRCP                  0  NaN
28676        SZ000006717  18651231             TMAX                -66  NaN
28677        SZ000006717  18651231             TMIN                -84  NaN

       NaN  NaN  NaN
28673  NaN    E  NaN
28674  NaN    a  NaN
28675  NaN    a  NaN
28676  NaN    G  NaN
28677  NaN    G  NaN
      station identifier      date observation type  observation value  NaN  \
37841        ASN00089049  18661231             PRCP                  0  NaN
37842        SZ000006717  18661231             TMAX                -49  NaN
37843        SZ000006717  18661231             TMIN                -92  NaN
37844        ASN00023078  18661231             PRCP                  0  NaN
37845        USC00053010  18661231             PRCP                  8  NaN

       NaN  NaN  NaN
37841  NaN    a  NaN
37842  NaN    G  NaN
37843  NaN    G  NaN
37844  NaN    a  NaN
37845  NaN    F  NaN
      station identifier      date observation type  observation value  NaN  \
47843        USC00117391  18671231             PRCP                  0  NaN
47844        ASN00089049  18671231             PRCP                 20  NaN
47845        SZ000006717  18671231             TMAX               -158  NaN
47846        SZ000006717  18671231             TMIN               -199  NaN
47847        ASN00071010  18671231             PRCP                 43  NaN

       NaN  NaN  NaN
47843  NaN    F  NaN
47844  NaN    a  NaN
47845  NaN    G  NaN
47846  NaN    G  NaN
47847  NaN    a  NaN

In [68]:
weather_total = pd.concat([df_1864, df_1865, df_1866, df_1867], join='inner', axis=0, sort=False)
weather_total.index = pd.RangeIndex(len(weather_total.index))
print(weather_total)

       station identifier      date observation type  observation value  NaN  \
0             ITE00100550  18640101             TMIN                -23  NaN
1             ITE00100550  18640101             PRCP                 25  NaN
2             ASN00079028  18640101             PRCP                  0  NaN
3             USC00064757  18640101             PRCP                119  NaN
4             SF000208660  18640101             PRCP                  0  NaN
5             ASN00089000  18640101             PRCP                  0  NaN
6             SWE00100003  18640101             PRCP                  0  NaN
7             ASN00086071  18640101             TMAX                214  NaN
8             ASN00086071  18640101             TMIN                101  NaN
9             ASN00086071  18640101             PRCP                  0  NaN
10            USP00CA0003  18640101             PRCP                  0  NaN
11            USC00189674  18640101             PRCP                  0  NaN
12            USC00144559  18640101             PRCP                  0  NaN
13            USC00144559  18640101             SNOW                  0  NaN
14            CA006158350  18640101             TMAX                 11  NaN
15            CA006158350  18640101             TMIN               -133  NaN
16            CA006158350  18640101             PRCP                  5  NaN
17            CA006158350  18640101             SNOW                  5  NaN
18            HRE00105189  18640101             PRCP                189  NaN
19            ASN00067054  18640101             PRCP                 61  NaN
20            ASN00081003  18640101             PRCP                  0  NaN
21            ASN00078037  18640101             PRCP                  0  NaN
22            ASN00070037  18640101             PRCP                  0  NaN
23            EIE00101859  18640101             TMAX                 94  NaN
24            EIE00101859  18640101             TMIN                 11  NaN
25            EIE00101859  18640101             PRCP                 82  NaN
26            ASN00040214  18640101             PRCP                  3  NaN
27            BE000006447  18640101             TMAX                -23  NaN
28            BE000006447  18640101             TMIN                -36  NaN
29            AGE00135039  18640101             PRCP                  0  NaN
...                   ...       ...              ...                ...  ...
141690        CA006122845  18671231             TMIN               -128  NaN
141691        CA006122845  18671231             PRCP                 25  NaN
141692        CA006122845  18671231             SNOW                 25  NaN
141693        ITE00105250  18671231             PRCP                 16  NaN
141694        ASN00067015  18671231             PRCP                  0  NaN
141695        CA006148100  18671231             TMAX                -33  NaN
141696        CA006148100  18671231             TMIN               -144  NaN
141697        CA006148100  18671231             PRCP                  0  NaN
141698        CA006148100  18671231             SNOW                  0  NaN
141699        ASN00074128  18671231             TMAX                222  NaN
141700        ASN00074128  18671231             TMIN                100  NaN
141701        ASN00074128  18671231             PRCP                  0  NaN
141702        CA006101872  18671231             TMAX                -39  NaN
141703        CA006101872  18671231             TMIN               -200  NaN
141704        CA006101872  18671231             PRCP                 66  NaN
141705        CA006101872  18671231             SNOW                 66  NaN
141706        CA006137735  18671231             TMAX                -11  NaN
141707        CA006137735  18671231             TMIN               -139  NaN
141708        CA006137735  18671231             PRCP                  0  NaN
141709        CA006137735  18671231             SNOW                  0  NaN
141710        ASN00090015  18671231             TMAX                167  NaN
141711        UK000056225  18671231             TMAX                 -5  NaN
141712        UK000056225  18671231             TMIN                -23  NaN
141713        UK000056225  18671231             PRCP                  5  NaN
141714        ASN00026026  18671231             PRCP                  0  NaN
141715        USC00117391  18671231             PRCP                  0  NaN
141716        ASN00089049  18671231             PRCP                 20  NaN
141717        SZ000006717  18671231             TMAX               -158  NaN
141718        SZ000006717  18671231             TMIN               -199  NaN
141719        ASN00071010  18671231             PRCP                 43  NaN

        NaN  NaN  NaN
0       NaN    E  NaN
1       NaN    E  NaN
2       NaN    a  NaN
3       NaN    F  NaN
4       NaN    I  NaN
5       NaN    a  NaN
6       NaN    E  NaN
7       NaN    a  NaN
8       NaN    a  NaN
9       NaN    a  NaN
10      NaN    F  NaN
11      NaN    F  NaN
12      NaN    F  NaN
13      NaN    F  NaN
14      NaN    C  NaN
15      NaN    C  NaN
16      NaN    C  NaN
17      NaN    C  NaN
18      NaN    E  NaN
19      NaN    a  NaN
20      NaN    a  NaN
21      NaN    a  NaN
22      NaN    a  NaN
23      NaN    E  NaN
24      NaN    E  NaN
25      NaN    E  NaN
26      NaN    a  NaN
27      NaN    I  NaN
28      NaN    I  NaN
29      NaN    E  NaN
...     ...  ...  ...
141690  NaN    C  NaN
141691  NaN    C  NaN
141692  NaN    C  NaN
141693  NaN    E  NaN
141694  NaN    a  NaN
141695  NaN    C  NaN
141696  NaN    C  NaN
141697  NaN    C  NaN
141698  NaN    C  NaN
141699  NaN    a  NaN
141700  NaN    a  NaN
141701  NaN    a  NaN
141702  NaN    C  NaN
141703  NaN    C  NaN
141704  NaN    C  NaN
141705  NaN    C  NaN
141706  NaN    C  NaN
141707  NaN    C  NaN
141708  NaN    C  NaN
141709  NaN    C  NaN
141710  NaN    a  NaN
141711  NaN    E  NaN
141712  NaN    E  NaN
141713  NaN    E  NaN
141714  NaN    a  NaN
141715  NaN    F  NaN
141716  NaN    a  NaN
141717  NaN    G  NaN
141718  NaN    G  NaN
141719  NaN    a  NaN

[141720 rows x 8 columns]

> **Ex. 7.1.3:** Parse the station location data which you can find at https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt. Merge station locations onto the weather data spanning 1864-1867.  

> _Hint:_ The location data have the folllowing format, 

```
------------------------------
Variable   Columns   Type
------------------------------
ID            1-11   Character
LATITUDE     13-20   Real
LONGITUDE    22-30   Real
ELEVATION    32-37   Real
STATE        39-40   Character
NAME         42-71   Character
GSN FLAG     73-75   Character
HCN/CRN FLAG 77-79   Character
WMO ID       81-85   Character
------------------------------
```

> *Hint*: The station information has fixed width format - does there exist a pandas reader for that?

In [ ]:
# [Answer to Ex. 7.1.3]

## Exercise Section 7.2: Traffic data in Copenhagen

In this second part of exercise set 7 you will be working with traffic data from Copenhagen Municipality.

The municipality have made the data openly available through the [opendata.dk](http://www.opendata.dk/) platform. We will use the data from traffic counters to construct a dataset of hourly traffic. We will use this data to get basic insights on the development in traffic over time and relate it to weather. The gist here is to practice a very important skill in Data Science: being able to quickly fetch data from the web and structure it so that you can work with it. Scraping usually gets a bit more advanced than what we will do today, but the following exercises should give you a taste for how it works. The bulk of these exercise, however, revolve around using the Pandas library to structure and analyze data.

### Part 7.2.a: getting some data to work with

Hence follows a simple scraping exercise where you (1) collect urls for datasets in the webpage listing data on traffic counters and (2) use these urls to load the data into one dataframe.

> **Ex. 7.2.1:** Using the requests module, extract the html markup of the webpage data.kk.dk/dataset/faste-trafiktaellinger and store it as a string in a new variable.

In [ ]:
# [Answer to Ex. 7.2.1]

> **Ex. 7.2.2:** Using the re module, extract a list of all the urls in the html string and store them in a new variable.

> _Hint:_ Try using the re.findall method. You may want to Google around to figure out how to do this. Protip: searching for something along the lines of "extract all links in html regex python" and hitting the first StackOverflow link will probably get you farther than reading elaborate documentation.

In [ ]:
# [Answer to Ex. 7.2.2]

> **Ex. 7.2.3:** Create a new variable that only contains the links that point to downloadable traffic data sheets. 

> _Hint:_ You want to filter the results from above. For example to only include urls with the term 'download' in them.

In [ ]:
# [Answer to Ex. 7.2.3]

> **Ex. 7.2.4:** Using pd.read_excel method, load the datasets into a list. Your resulting variable should hold a list of Pandas dataframes.

> _Hint:_ you may want to set the skiprows= keyword argument.

In [ ]:
# [Answer to Ex. 7.2.4]

> **Ex. 7.2.5:** Merge the list of dataframes into a single dataframe.

In [ ]:
# [Answer to Ex. 7.2.5]

### Part 7.2.b Structuring your data

If you successfully completed the previous part, you should now have a dataframe with about 183.397 rows (if your number of rows is close but not the same, worry not—it matters little in the following). Well done! But the data is still in no shape for analysis, so we must clean it up a little.

161.236 rows (and 30 columns) is a lot of data. ~3.3 MB by my back-of-the-envelope calculations, so not "Big Data", but still enough to make your CPU heat up if you don't use it carefully. Pandas is built to handle fairly large dataframes and has advanced functionality to perform very fast operations even when the size of your data grows huge. So instead of working with basic Python we recommend working pandas built-in procedures as they are constructed to be fast on dataframes.

Nerd fact: the reason pandas is much faster than pure Python is that dataframes access a lower level programming languages (namely C, C++) which are multiple times faster than Python. The reason it is faster is that it has a higher level of explicitness and thus is more difficult to learn and navigate.

> **Ex. 7.2.6:** Reset the row indices of your dataframe so the first index is 0 and the last is whatever the number of rows your dataframe has. Also drop the column named 'index' and the one named `Spor`.

In [ ]:
# [Answer to Ex. 7.2.6]

> **Ex. 7.2.7:** Rename variables from Danish to English using the dictionary below.

```python 
dk_to_uk = {
    'Vejnavn':'road_name',
    '(UTM32)':'UTM32_north',
    '(UTM32).1':'UTM32_east',
    'Dato':'date',
    'Vej-Id':'road_id'
}
```

In [ ]:
# [Answer to Ex. 7.2.7]

Python is quite efficient. For example, when you create a new dataframe by manipulating an old one, Python notices that—apart from some minor changes—these two objects are almost the same. Since memory is a precious resource, Python will represent the values in the new dataframe as references to the variables in the old dataset. This is great for performance, but if you for whatever reason change some of the values in your old dataframe, values in the new one will also change—and we don't want that! Luckily, we can break this dependency.

> **Ex. 7.2.8:** Break the dependencies of the dataframe that resulted from Ex. 7.2.7 using the `.copy` method. Delete all other dataframes.

In [ ]:
# [Answer to Ex. 7.2.8]

Once you have structured appropriately, something that you will want to do again and again is selecting subsets of the data. Specifically, it means that you select specific rows in the dataset based on some column values.

>**Ex. 7.2.9:** Create a new column in the dataframe called total that is True when the last letter of road_id is T and otherwise False.

> _Hint:_ you will need the `pd.Series.str` attribute for this.

In [ ]:
# [Answer to Ex. 7.2.9]

> **Ex. 7.2.10:** Select rows where total is True. Delete all the remaining observations.

In [ ]:
# [Answer to Ex. 7.2.10]

> **Ex. 7.2.11:** Make two datasets based on the lists of columns below. Call the dataset with spatial columns data_geo and the other data.

```python
# Columns for `geo_data`, stored in `geo_columns`
spatial_columns = ['road_name', 'UTM32_north', 'UTM32_east']

# Columns for `data`, stored in `select_columns`
hours = ['kl.{}-{}'.format(str(h).zfill(2), str(h+1).zfill(2)) for h in range(24)]
select_columns = ['road_name', 'date'] + hours
```

In [ ]:
# [Answer to Ex. 7.2.11]

> **Ex. 7.2.12:** Drop the duplicate rows in data_geo.

In [ ]:
# [Answer to Ex. 7.2.12]

**Formatting: wide and narrow format**

When talking about two-dimensional data (matrices, tables or dataframes, we can call it many things), we can either say that it is in wide or long format (see explanation here, "wide" and "long" are used interchangably). In Pandas we can use the commands stack and unstack to move between these formats.

The wide format has the advantage that it often requires less storage and is easier to read when printed. On the other hand the long format can be easier for modelling, because each observation has its own row. Turns out that the latter is what we most often need.

> **Ex. 7.2.13:** Turn the dataset from wide to long so hourly data is now vertically stacked. Store this dataset in a dataframe called data. Name the column with hourly information hour_period. 

> _Hint:_ pandas' melt function may be of use.

In [ ]:
# [Answer to Ex. 7.2.13]

**Categorical data**

Categorical data can contain Python objects, usually strings. These are smart if you have variables with string observations that are long and often repeated, e.g. with road names.

> **Ex. 7.2.14:** Use the `.astype` method to convert the type of the road_name column to categorical.

In [ ]:
# [Answer to Ex. 7.2.14]

### Structure temporal data

Pandas has native support for working with temporal data. This is handy as much 'big data' often has time stamps which we can make Pandas aware of. Once we have encoded temporal data it can be used to extract information such as the hour, second etc.

> **Ex. 7.2.15:** Create a new column called hour which contains the hour-of-day for each row.

In [ ]:
# [Answer to Ex. 7.2.15]

>**Ex. 7.2.16:** Create a new column called time, that contains the time of the row in datetime format. Delete the old temporal columns (hour, hour_period, date) to save memory.

> _Hint:_ try making an intermediary series of strings that has all temporal information for the row; then use pandas to_datetime function where you can specify the format of the date string.

In [ ]:
# [Answer to Ex. 7.2.16]

> **Ex. 7.2.17:** Using your time column make a new column called weekday which stores the weekday (in values between 0 and 6) of the corresponding datetime.

> _Hint:_ try using the dt method for the series called time; dt has some relevant methods itself.

In [ ]:
# [Answer to Ex. 7.2.17]

### Statistical descriptions of traffic data

> **Ex. 7.2.18:** Print the "descriptive statistics" of the traffic column. Also show a kernel density estimate of the values.

> _Hint:_ Use the describe method of pandas dataframes for the first task. Use seaborn for the second.

In [ ]:
# [Answer to Ex. 7.2.18]

> **Ex. 7.2.19:** Which road has the most average traffic?

In [ ]:
# [Answer to Ex. 7.2.19]

> **Ex. 7.2.20:** Compute annual, average road traffic during day hours (9-17). Which station had the least traffic in 2013? Which station has seen highest growth in traffic from 2013 to 2014?

In [ ]:
# [Answer to Ex. 7.2.19]